.mainCard {
  /*margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;*/
  width: 400px;
}

.md-headline {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  text-align: center;
}

.picDiv {
  text-align: center;
  width: 98%;
}

.infoDiv {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}

#icon {
  margin-top: 30px;
  margin-bottom: 25px;
}

.iconDiv {
  text-align: center;
}
