
<div>
  <md-content class="md-padding" layout-xs="column" layout-align="center center">
    <!-- <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center"> -->
    <div flex-xs layout="column" layout-align="center center">
      <md-card class="mainCard">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><b>Applications</b></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="infoDiv">
            <h2>STEMentor</h2>

            <p>This application connects students interested in pursuing education in STEM fields to professionals working in those
              fields. I built this application as a part of a team and wrote the user guide, viewable <a href="#writings" class="link">here</a>.
            </p>

            <a href="http://stementor.herokuapp.com" target="_blank" class="link">See STEMentor in action</a>

            <br><br>

            <h2>Heichishimanumayamamori</h2>

            <p>It's like fantasy football, except for Magic: The Gathering Tournaments. As far as I know, this is the only
              Magic: The Gathering player-focused fantasy point speculation application in existence.
            </p>

            <a href="http://still-atoll-64269.herokuapp.com" target="_blank" class="link">See Heichishimanumayamamori in action</a>

          </div>
        </md-card-content>
      </md-card>
      <a href="#home" class="link">Home</a>
    </div>
  </md-content>
</div>
