

<div>
  <md-content class="md-padding" layout-xs="column" layout-align="center center">
    <!-- <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center"> -->
    <div flex-xs layout="column" layout-align="center center">
      <md-card class="mainCard">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><b>Andrew Froiland</b></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>

          <div class="picDiv">
            <img src="../../assets/profile-pic.jpg" />
          </div>

          <div class="infoDiv">
            <h2>Solutions Engineering  //<br>Software Development</h2>

            <p>Just a guy with a passion for technical writing, problem solving through code, eschewing Oxford commas and getting in there with some simple, clean design.</p>
            <p>Please feel free to reach out to me.</p>

            <a href="#writings">Writing Samples</a>


            <div class="iconDiv">
              <a href="mailto:andrew.froiland@gmail.com"><i id="icon" class="fa fa-envelope fa-2x"></i></a>
              <a href="http://github.com/afroiland" target="_blank"><i id="icon" class="fa fa-github fa-2x"></i></a>
              <a href="http://linkedin.com/in/andrewfroiland" target="_blank"><i id="icon" class="fa fa-linkedin-square fa-2x"></i></a>
              <p id="copy">&copy; Andrew Froiland 2017</p>
            </div>
          </div>

        </md-card-content>
      </md-card>

      <p id="scrolly">That's some good scrolling.</p>

    </div>
  </md-content>
</div>
