

<div>
  <md-content class="md-padding" layout-xs="column" layout-align="center center">
    <!-- <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center"> -->
    <div flex-xs layout="column" layout-align="center center">
      <md-card class="mainCard">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Andrew Froiland</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>

          <div class="picDiv">
            <img src="../../assets/profile-pic.jpg" />
          </div>

          <div class="infoDiv">
            <h2>Solutions Engineering  //<br>Software Development</h2>

            <p>All the good stuff: technical writing, coding, problem solving, getting in there with some simple, clean design.</p>
            <p>Hit me up:</p>
            <p>andrew.froiland@gmail.com</p>
            <div class="iconDiv">
              <i id="icon" class="fa fa-battery-full fa-3x"></i>
            </div>
          </div>

        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>
