
<div>
  <md-content class="md-padding" layout-xs="column" layout-align="center center">
    <!-- <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center"> -->
    <div flex-xs layout="column" layout-align="center center">
      <md-card class="mainCard">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><b>Writing Samples</b></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>

          <!-- <div class="picDiv">
            <img src="../../assets/profile-pic.jpg" />
          </div> -->

          <div class="infoDiv">
            <h2>Exhibit A</h2>

            <p>This is a before and after writeup of product information for a cleanroom supply business.</p>

            <p><b>Before (Text in need of editing)</b></p>

            <p>I know that China-made product always play very low price called as "economy" type, I don't know the difference.  Maybe just a sales tricky.
              What they used to play in the market is specifying a very wide range 1%-60%RH ( just for display purpose), but mostly of the customer will
              not adjust the humidity in such wide range frequently, especially in industrial field.  So, mostly some competitors just play numbers (for
              display, not for dehumidifying performance) or user buy an over spec they will never use. As mentioned earlier, StatPro product is equipped
              with automatic dryers and a third party monitoring hygrometer (German made TESTO) for reflecting true reading.  We don't have any problem in
              false readings by using in-house manufactured RH display, or electronic circuitry counterfeited problem.        We owns in-house cabinet factory
              as well as design & production of dehumidifying core units.  Our product is produced by an integrated production, not like others just doing
              assembling.  Most of other brands don't have their own cabinet factory.    With more than 20 years experience in development and manufacture of
              auto dry cabinet for different applications, StatPro Dry Cabinet is trusted by millions of global users, which is others can not compete with us.
            </p>

            <p><b>After</b></p>

            <p>Whether you are working with integrated circuitry, medical devices or chemical samples, controlling relative humidity when storing your
              important inventory is essential to the operation of your business or laboratory. With StatPro desiccator cabinets, you can rest assured
              that excess moisture won’t be a problem, leaving you free to focus on more important things.
            </p>

            <p>StatPro desiccator cabinets feature automatic dryers and German-made Testo hygrometers, guaranteeing accuracy in relative humidity readings.
              An easy-to-read display ensures that you will be able to maintain precise control of relative humidity to suit your needs.
            </p>

            <p>StatPro has 20 years of experience in the development and manufacture of auto-dry cabinets and its products are in use by millions of customers
              worldwide. Unlike many of its competitors, StatPro utilizes an in-house cabinet factory and designs and produces its own dehumidifying core units.
            </p>

            <p>Production Automation Corporation has been meeting your needs as a distributor and manufacturer’s representative since 1973. Enjoy the convenience
              of ordering a variety of electronics, medical devices and cleanroom supplies all in one place. Contact us with any questions you might have, and
              buy with confidence.
            </p>

            <!-- <a href="#writings">Writing Samples</a> -->


            <!-- <div class="iconDiv">
              <a href="mailto:andrew.froiland@gmail.com"><i id="icon" class="fa fa-envelope fa-2x"></i></a>
              <a href="http://github.com/afroiland" target="_blank"><i id="icon" class="fa fa-github fa-2x"></i></a>
              <a href="http://linkedin.com/in/andrewfroiland" target="_blank"><i id="icon" class="fa fa-linkedin-square fa-2x"></i></a>
              <p id="copy">&copy; Andrew Froiland 2017</p>
            </div> -->
          </div>

        </md-card-content>
      </md-card>

      <!-- <p id="scrolly">That's some good scrolling.</p> -->

    </div>
  </md-content>
</div>

<div>
  <md-content class="md-padding" layout-xs="column" layout-align="center center">
    <!-- <div flex-xs flex-gt-xs="40" layout="column" layout-align="center center"> -->
    <div flex-xs layout="column" layout-align="center center">
      <md-card class="mainCard">
        <md-card-content>
          <div class="infoDiv">
            <h2>Exhibit B</h2>
            <p>This is a user guide for an application I helped build.</p>

            <p><b>STEMentor User Guide</b><br>Version 1.4 (Updated 3-8-2017)</p>

            <p><u>For Mentors</u></p>

          </div>

        </md-card-content>
      </md-card>

    </div>
  </md-content>
</div>
