
<div>
  <md-content class="md-padding" layout-xs="column" layout-align="center center">
    <div flex-xs layout="column" layout-align="center center">
      <md-card class="mainCard">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><b>Writing Samples</b></span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div class="infoDiv">
            <h2>Exhibit A</h2>

            <p>This is a before-and-after writeup of product information for a cleanroom supply business.</p><br>

            <p><b>Before (Text in need of editing)</b></p>

            <p id="desiccator">I know that China-made product always play very low price called as "economy" type, I don't know the difference.  Maybe just a sales tricky.
              What they used to play in the market is specifying a very wide range 1%-60%RH ( just for display purpose), but mostly of the customer will
              not adjust the humidity in such wide range frequently, especially in industrial field.  So, mostly some competitors just play numbers (for
              display, not for dehumidifying performance) or user buy an over spec they will never use. As mentioned earlier, StatPro product is equipped
              with automatic dryers and a third party monitoring hygrometer (German made TESTO) for reflecting true reading.  We don't have any problem in
              false readings by using in-house manufactured RH display, or electronic circuitry counterfeited problem.        We owns in-house cabinet factory
              as well as design & production of dehumidifying core units.  Our product is produced by an integrated production, not like others just doing
              assembling.  Most of other brands don't have their own cabinet factory.    With more than 20 years experience in development and manufacture of
              auto dry cabinet for different applications, StatPro Dry Cabinet is trusted by millions of global users, which is others can not compete with us.
            </p>

            <br>

            <p><b>After</b></p>

            <p>Whether you are working with integrated circuitry, medical devices or chemical samples, controlling relative humidity when storing your
              important inventory is essential to the operation of your business or laboratory. With StatPro desiccator cabinets, you can rest assured
              that excess moisture won’t be a problem, leaving you free to focus on more important things.
            </p>

            <p>StatPro desiccator cabinets feature automatic dryers and German-made Testo hygrometers, guaranteeing accuracy in relative humidity readings.
              An easy-to-read display ensures that you will be able to maintain precise control of relative humidity to suit your needs.
            </p>

            <p>StatPro has 20 years of experience in the development and manufacture of auto-dry cabinets and its products are in use by millions of customers
              worldwide. Unlike many of its competitors, StatPro utilizes an in-house cabinet factory and designs and produces its own dehumidifying core units.
            </p>

            <p>Production Automation Corporation has been meeting your needs as a distributor and manufacturer’s representative since 1973. Enjoy the convenience
              of ordering a variety of electronics, medical devices and cleanroom supplies all in one place. Contact us with any questions you might have, and
              buy with confidence.
            </p>

            <!-- <br> -->
            <!-- <p id="copy">&copy; Andrew Froiland 2017</p> -->
          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</div>

<div>
  <md-content class="md-padding" layout-xs="column" layout-align="center center">
    <div flex-xs layout="column" layout-align="center center">
      <md-card class="mainCard">
        <md-card-content>
          <div class="infoDiv">
            <h2>Exhibit B</h2>
            <p>This is a user guide for an application I helped build. Check out the application <a href="#apps" class="link">here</a>.</p><br>

            <p><b>STEMentor User Guide</b><br>Version 1.4 (Updated 3-8-2017)</p>

            <p>Welcome to STEMentor! This application is fairly straightforward, and you may be able to achieve full functionality without the need for this
              guide. If you are having any issues, or simply want to make sure you are getting the most from your STEMentor experience, please read on!
            </p>

            <p>This guide is spearated into two sections, based on if you are using STEMentor as a mentor or as a student.</p>

            <br>

            <p><u>For Mentors</u></p>

            <p>Mentor Profile Creation:</p>

            <p>1) You will need a google (gmail) account. The picture associated with this account will be used for your STEMentor profile, so make sure it
              is the picture you want.
            </p>
            <p>2) Go to http://stementor.herokuapp.com and click “<b>Become a Mentor</b>.” You will be prompted to sign in with your google account. Click “<b>Log In
              As Mentor</b>” to do so.
            </p>
            <p>3) If this is the first time you have logged in with this google account, you will be prompted to fill out your profile. Clicking “<b>Go to Your
              Profile</b>” will take you right there.
            </p>
            <p>4) Once on your profile page, click “<b>Edit Your Profile</b>” and you can now fill in information in a number of input fields. When you are done,
              click “<b>Save Changes</b>.” Your name will now show up in the results when someone searches for a mentor and students will be able to send you messages.
            </p>
            <p>5) You can go to your profile at any time by clicking “<b>Your Profile</b>” in the navigation bar at the top of the window. You can edit your profile
              information as much as needed. There is also a tab for FAQs—click on that to bring up the FAQs section, which can be edited in the same way as your profile.
            </p>

            <p>Mentor Messaging:</p>

            <p>1) When you receive a new message from a student, an email notification will be sent to the gmail account associated with your STEMentor profile. In this
              email will be a link that will take you right to your STEMentor inbox. You can also visit your inbox at any time while in the STEMentor application by
              clicking “<b>Inbox</b>” in the navigation bar at the top of the window.
            </p>

            <p>2) Unread messages will be displayed first in your inbox. Below these will be messages that have already been read, indicated by grey coloring. Clicking on
              any message will display it in a pop-up window, where it can be read and replied to.
            </p>

            <p>3) Type your reply and click “<b>Send Message</b>.” The student will be notified by email that their question has been responded to.
            </p>

            <br>

            <p><u>For Students</u></p>

            <p>Searching for a Mentor:</p>

            <p>1) You will be able to search for mentors and view their profiles without logging in to STEMentor. On the homepage, click “<b>Find a Mentor</b>” to go to the search
              page. Here, you can search for mentors by keyword in the main search bar, or click “<b>Refine Your Search</b>” to search by specific criteria.
            </p>

            <p>2) Searching for a mentor will return a list of cards that display some information from a mentor’s profile. You can click on the icon that looks like two people in
              the lower-left corner of each card to view that mentor’s full profile. Clicking on the message icon in the lower right corner of a mentor’s card or clicking on the
              “<b>Ask Me A Question</b>” button on a mentor’s profile will both begin the messaging process, but you will need to be logged in to send a message.
            </p>

            <p>Student Account Creation:</p>

            <p>Creating a STEMentor account is fast and easy. All you will need is a google (gmail) account. Click “<b>Log In / Sign Up</b>” in the upper right of the navigation bar, then
              click “<b>Log In As Student</b>.” Trying to click a button to message a mentor when you are not logged in will also direct you to a log in pop-up.
            </p>

            <p>Student Messaging:</p>

            <p>1) Once logged in, you can message a mentor by clicking on the message icon in the lower right corner of a mentor’s card or clicking on the “<b>Ask Me A Question</b>” button on a
              mentor’s profile.
            </p>

            <p>2) Fill in the fields and click “<b>Send Message</b>.” The mentor will be notified by email that they have received a new message.
            </p>

            <p>3) When the mentor responds, an email notification will be sent to the gmail account associated with your STEMentor account. In this email will be a link that will take
              you right to your STEMentor inbox. You can also visit your inbox at any time while in the STEMentor application by clicking “<b>Inbox</b>” in the navigation bar at the top of
              the window.
            </p>

            <p>4) Messages are sorted into two categories: those that the mentor has responded to (listed first), and those that have not yet been responded to (listed second).
              Click on a message to display it in a pop-up window.
            </p>

            <br>

            <p><u>Additional Notes</u></p>

            <p>Once a google account has been used to log in, the Firebase authentication system remembers this email address. This means that the log in pop-up will appear and close quickly
              on subsequent log ins. If you are logged in to your browser with your google account (in Chrome, your name will appear in the upper right corner of the browser window), and you
              have logged in to STEMentor previously, you will be logged in automatically when you go to the STEMentor application.
            </p>

            <p>Having two tabs open in one window, both accessing STEMentor, can cause issues. The same may be true using two windows on one computer.
            </p>

            <br>

            <p id="copy">&copy; Andrew Froiland 2017</p>
          </div>
        </md-card-content>
      </md-card>
      <a href="#home" class="link" id="homeLink">Home</a>
    </div>
  </md-content>
</div>
